dy {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(125deg,#ED4C67,#D980FA,#9980FA,#5758BB,#B53471,#ED4C67);
    background-size: 400%;
    overflow: hidden;
    animation: bgmove 15s infinite;
}

.text{
   
    color:white;
    font-size:20px;
    text-align:center;
    text-transform:uppercase;
    margin:350px 0;

    
   
}

@keyframes bgmove{
    0%{
        background-position:0% 50%;

    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }


}

