html,body {
    margin: 0;
    padding: 0;
    width:100%;
    
}
.top_box {
    width: 100%;
    height: 90vh;
    background-color: rgb(186,194,183);
    overflow:hidden;
 
}
.top_left {
    float: left;
    width: 65%;
    height: 90vh;
    background-color: white;
   
}
.top_right {
    
    float:right;
    width:35%;
    height: 90vh;
    overflow:hidden;
    animation:color 25s ease-in infinite;
    
}


.jpg {
    width: 30vh;
    height:30vh;
    float:left;
    padding:0;
    margin:0;
    
    
    
}

@media screen and (max-width: 768px) {
    .jpg {
        width: 30vh; 
    }
}

.top_text1 {
    position: absolute;
    top: 8vh;
    left: 2vh;
    font-size: 3vh;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    color: white;
    border-radius: 10%;
    line-height: inherit;
    font-family:'Comic Sans MS';
    animation: color 25s ease-in infinite;
}
.top_text2 {
    position: absolute;
    top: 56vh;
    left: 9vh;
    font-size:7vh;
    font-family: Georgia;
    transform-origin: left bottom;
    transform: rotate(-90deg);
    animation: tcolor 25s ease-in infinite;
}


.container {
    z-index: 1;
    width: 30vh;
    height: 30vh;
    position: absolute;
    top:33vh;
    left:15vh;
    overflow:hidden;
    
    
}
.photo {
    
    width: 180vh;
    height: 30vh;
    animation: switch 25s infinite;
    animation-timing-function:ease-in-out;
}
@keyframes switch{
   0%,6%,100%{
       margin-left:0;

   }
   10%,16% ,90%,96%{
       margin-left: -30vh;
   }
    20%,26% ,80%,86%{
        margin-left: -60vh;
    }
    30%,36% ,70%,76%{
        margin-left: -90vh;
    }
    40%,46% ,60%,66%{
        margin-left: -120vh;
    }
   50%,56%{
       margin-left:-150vh;
   }
   
}
@keyframes color {
    0%,6%,100% {
        background-color: #0a0809;
    }

    10%,16%,90%,96% {
        background-color: #9c7854;
    }

    20%,26%,80%,86% {
        background-color: #c8b89f;
    }

    30%,36%,70%,76% {
        background-color: #b38c8d;
    }

    40%,46%,60%,66% {
        background-color: #616f89;
    }

    50%,56% {
        background-color: #9aa05a;
    }
}
@keyframes tcolor {
    0%,6%,100% {
       color: #0a0809;
    }

    10%,16%,90%,96% {
       color: #9c7854;
    }

    20%,26%,80%,86% {
        color: #c8b89f;
    }

    30%,36%,70%,76% {
       color: #b38c8d;
    }

    40%,46%,60%,66% {
       color: #616f89;
    }

    50%,56% {
       color: #9aa05a;
    }
}



.middle_box {
    margin-top: 3px;
    width: 100%;
    height: auto;
    background-color: rgb(210,201,192);
    overflow: hidden;
    
}

.bottom_box {
    margin-top:3px;
    width: 100%;
    height: auto;
    background-color:rgb(230,226,223);
    overflow:hidden;
}


.contact_bar {
    margin-top: 3px;
    width: 100%;
    height: 20%;
    background-color: rgb(35,35,35);
    overflow: hidden;
    color: rgb(123,136,136);
    align-content:center;
    text-align:center;
}

a {
    color: #dcdde1;
    text-decoration: none;
    display:block;
}
a:hover {
    color: #f5f6fa;
}
.qzone {
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
}
.content::after {
    
    content: "";
    display: table;
    clear: both;
    margin-top: 100%;
}


.navigation_bar {
    width:100%;
    height: 5vh;
    background-color: #1e272e;
    position: fixed;
    top: 0;
    padding:1vh;
  
}

.navigation_but {
    margin-top: 1vh;
    width: 5vh;
    height: 3.5vh;
    overflow: hidden;
    transition: all 0.5s;
    background-color: #1e272e;
}

.line {
    width: 5vh;
    height: 0.5vh;
    background-color: #d2dae2;
    border-radius: 10%;
    transform-origin:left;
    transition: all 1s;
   
}
.line2 {
    margin-bottom:1vh;
    margin-top:1vh;
   
}
.active2 {
    background-color: #1e272e;
}

.active1 {
   
   transform:rotate(36deg);
}

.active3 {
 
   transform:rotate(-36deg);
}

